.menu-btn {
        display: none;
        overflow: hidden;
        font-size: 3rem;
        color: #f1c40f;
        cursor: pointer;
}
.menu-btn:hover {
        color: #ecf0f1;
}
@media (max-width: 650px) {
        .menu-btn {
                display: block;
                overflow: visible;
        }
}
